body{
    margin: 0;
    padding: 0;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

a{
    text-decoration: none;
    color: white;
}

/*Zabiberimo ga slika koja vodi na stranicu*/
#but1 {
    padding-left: 740px;
    padding-top: 440px;
}

/*keyframe koji omogucava da zabiberimo ga pulsira*/
@keyframes pulse {

    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
       -webkit-transform: scale(0.9);
       transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
       transform: scale(1);
    }
}

/*pozivanje keyframea na slici*/
#but1 img{
    animation: pulse 2s infinite, magnified 2s 1;
        
}

/*Pozadina koja se mijenja*/
.slike{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: animate 20s ease-in-out infinite;
    background-size: cover;
}

/*Vezano za ikone socijalnih mreza*/
.okvir{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}

/*Logo biberi na sredini*/
.ime{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5px;
    color: white;
    text-align: center;
    line-height: 0.1;
}
/*Vezano za ikone socijalnih mreza*/
.social{
    position: absolute;
    background-size: auto;
    bottom: 5px;
    right: 5px;
    padding-top: 5px;
    padding-left: 5px;
}
/*Vezano za ikone socijalnih mreza*/
.soc{
    margin: 6px;
}
/*Zabiberimo ga logo*/
.nastavak{
    position: absolute;
    top: 70%;
    left: 38%; 
}

/*Keyframe vezan za izmjenu pozadina*/
@keyframes animate{
    0%,100%{
        background-image: url("slike/početna.png");
        transition: 5s all ease;
    }
    20%{
        background-image: url("slike/početna2.png");
        transition: 5s all ease;
    }
    40%{
        background-image: url("slike/početna3.png");
        transition: 5s all ease;
    }
    60%{
        background-image: url("slike/početna4.png");
        transition: 5s all ease;
    }
    80%{
        background-image: url("slike/početna5.png");
        transition: 5s all ease;
    }
}